.bg{
    background-image: url('../img/back1.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home{
    display:flex;
    height:15vh;
    align-items: center;
    justify-content: center;
    font-size: 6rem; 
}

.content{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 15vh;
    font-size: 30px;
}

.blank{
    height: 10vh;
}