.cfb{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    padding: 3% 0 10.6%;
    background: url('../img/SignUpback.svg');
    text-align: center;
    background-size: cover;
}

.out{
    background:rgba(170, 170, 170, 1);
}
.registertitle{
    margin-right: 40%;
    margin-top: 0%;
    font-size: 70px;
    padding: 20px;
}

.title-desc{
    margin-top: 15%;
    padding: 50px;
    font-size: 50px;
}

.form-desc{
    padding: 20px;
    font-size: 30px;
}

.Container{
    position: relative;
    margin: auto;
    
    width: 80%;
    height: 600px;

    background-color: rgba(196, 196, 196, 1);
}

.banner-side{
    position: absolute;
    z-index: 2;
    right: 0%;

    border: 0.1em solid #2D3436;

    width: 40%;
    height: 100%;

    flex-direction: column;

    background-color: #2D3436;
    opacity: 1;

    color: rgba(170, 170, 170, 1);
    text-align: center;
}


.form-comp{
    flex-direction: column;
}

.sign-up-form{
    margin-right: 40%;
    width: 80%;
    flex-direction: column;
}

.sign-up-form > label{
    width: 100%;
    padding: .5em;
}

.sign-up-form > label > input{
    width: 60%;
    margin: 10px;
}


.register-btn{
    font-size: 15px;
    padding: 10px 60px;

    border: 1px solid #2D3436;
    border-radius: 2em;

    background-color: #2D3436;

    color: #fff;
    text-decoration: none;
}

button:focus{
    outline: 0;
}

button:hover{
    opacity: 0.9;
}

input{
    font-size: 30px;
    padding: 2em;
    border: 1px solid #ffffff;
    border-radius: 10px;
}


input[type=text],input[type=password],input[type=email]{
    padding: 15px 15px;
    margin: 0px;
    color: rgb(49, 49, 49);
    text-decoration: none;
    font-size: 15px;
    transition: ease-in-out, width .35s ease-in-out;
}

