.roomCardContainer{
	background-color:beige;
	padding: 2em 2em;
	margin-left: 2em;
	margin-right: 2em;
	padding-left: 1em;
	padding-top: 3.5em;
	overflow: auto;
	border-radius: 1em;
	border: none;
	margin-top: 1em;
	
	/* flex: 1 1 0; */
	/* position: absolute; */
}

.roomCardContainer h2{
	font-size: 1.675em;
	color: var(--textColor);
	font-weight: 500;

}

.roomCardContainer h3{
	font-size: 1.875em;
	font-weight: 500;
	line-height: 1;
	color: black;
}

.roomMembers img {
	width: 70px;
	height: 70px;
	border-radius: 0.6em;

}

.roomMembers {
	display: flex;
	align-items: flex-start;
}

.roomMembers p{
	font-size: 0.975em;
	font-weight: 100;
	line-height: 1;
	margin-bottom: 0.5em;
	color: var(--textColor);
}

.roomMembers>div:first-child{
	position: relative;
	margin-right: 2em;
}

.roomMembers>div:first-child>img:nth-child(2){
	position: absolute;
	left: 1em;
	top: 1em;
}